html, body {
    margin: 0px;
    padding: 0px;
}
header {
    background-color: #105fa9;
    height: 75px;
    margin: 0px;
    font-family: Verdana;
}


main {
    width: 80%;
    min-height: 600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.voiteList {
    width: 70%;
    min-height: 500px;
    margin-top: 50px;
    border: 2px solid #d1cfcf;
}
.voiteTag {
    margin-top: 30px;
    margin-left: 50px;
}
.voiteList a{
    color: black;
}

.voite {
    width: 60%;
    min-height: 50px;
    margin-left: 20%;
    display: inline-block;
    border: 2px solid #d1cfcf;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: 0.5s;
    cursor: pointer;
}
.voite:hover {
    box-shadow: 0 0 10px 1px rgba(122,122,122,0.5);
}
.headVoite p {
    text-align: center;
}
.voite button {
    background-color: #00afff;
    float: right;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    user-select: none;
    outline: none;
    padding: .7em 1.5em;
}
.voite button a {
    text-decoration: none;
    color: black;
}

p {
    padding-left: 50px;
    padding-right: 50px;
    font-family: Verdana;
}
h2 {
    padding-right: 50px;
    font-family: Verdana;
}
footer {
    margin-top: 50px;
    width: 100%;
    height: 100px;
    background-color: #105fa9;
}
