@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
}
header{
    background-color: #105fa9;
    width: 100%;
    height: 105px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main{
    width: 80%;
    border-left: 4px solid #105fa9;
    border-right: 4px solid #105fa9;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer{
    background-color: #105fa9;
    width: 100%;
    height: 140px;
    display: flex;
    color: white;
    flex-direction: row;
    justify-content: space-between;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.user{
    width: 120px;
    height: 100px;
    display: flex;
    flex-direction: row;
}
.menu_list{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    width: 30%;
    justify-content: space-between;
    position: relative;
    top: 35%;
}
.li_menu{
    display: block;
    margin: 0% 10% 0% 0%;
}
.logo{
    background-image: url(/static/img/logo.png);
    width: 100px;
    height: 100px;
}
.button{
    color: white;
    font-size: 20px;
    position: relative;
    top: 40%;
    left: 8%;
}

li a{
    text-decoration: none;
    color:white;
    transition-duration: 0.4s;
}

li a:active{
    color: white;
}

li a:hover{
    text-shadow: 1px 1px 3px rgba(0,0,0, 0.8);
}

.userIcon{
    background-image: url(/static/img/user-icon_50x50.png);
    width: 50px;
    height: 50px;
    position: relative;
    top: 25%;
    left: 50%;
}





.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: -50%;
  margin-left: -80px;
}

.popup .popuptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 78%;
  margin-left: -5px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

.popuptext li{

}

.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
