@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
}

header{
    background-color: #105fa9;
    width: 100%;
    height: 105px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.logo{
    background-image: url(/static/img/logo.png);
    width: 100px;
    height: 100px;
}

form{
     width: 80%;
    height: 100vh;
    border-left: 4px solid #105fa9;
    border-right: 4px solid #105fa9;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reg{
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: white;
    font-size: 40px;
    left: 50%;
    top: 10px;
    position: absolute;
    transform: translate(-50%, -50%);
}


.reg_window{
    font-size: 150%;
    color: white;
    font-family: 'Lato', sans-serif;
    padding: 50px;
    background-color: #105fa9;
    box-shadow: 0 0 10px  #105fa9;
    border-radius: 20px 20px;
    margin: auto;
    margin-top: 10%;
    width: 30%;
}
.inputs_windows{
    font-size: 150%;
    background-color: #ffffff;
    width: 100%;
    color: black;
    border-style: solid;
    border-radius: 10px 10px;
}
.reg_btn{
    background-color: #ffffff;
     border-style: solid;
    border-radius: 10px 10px;
    box-shadow: 0 0 5px  #7e7ed6;
    color: black;
    display: block;
    margin-top: 50px;
    height: 60px;
    width: 100%;
    vertical-align: middle;
    border-radius: 10px 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 40px;
    transition: 0.2s;
}
.reg_btn:hover{
    background-color: #CCCCFF;
    transition: 0.2s;
}
