@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
}

.color{
    color: #105fa9;
}

header{
    background-color: #105fa9;
    width: 100%;
    height: 105px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main{
    width: 80%;
    height: 100vh;
    border-left: 4px solid #105fa9;
    border-right: 4px solid #105fa9;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user_edit{
    position: relative;
    width: 80%;
    border: 4px solid #105fa9;
}
.form_edit{
    margin-left: 2%;
}
.button_edit{
    position: relative;
    left: 85%;
    width: 13%;
    height: 3%;
    color: #7e7ed6;
    margin: 1% 0% 1% 0%;
    text-align: center;
    overflow: hidden;
    font-size: 20px;
    white-space: nowrap;
    line-height: 200%;
    border: 4px solid #105fa9;
}
.button_edit:hover{
    cursor: pointer;
    color: white;
    background-color: #105fa9;
    transition-duration: 1s;
}
footer{
    background-color: #105fa9;
    width: 100%;
    height: 140px;
    display: flex;
    color: white;
    flex-direction: row;
    justify-content: space-between;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.user{
    width: 120px;
    height: 100px;
    display: flex;
    flex-direction: row;
}
.menu_list{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    width: 30%;
    justify-content: space-between;
    position: relative;
    top: 35%;
}
.li_menu{
    display: block;
    margin: 0% 10% 0% 0%;
}
.logo{
    background-image: url(/static/img/logo.png);
    width: 100px;
    height: 100px;
}
.button{
    color: white;
    font-size: 20px;
    position: relative;
    top: 40%;
    left: 8%;
}

a{
    text-decoration: none;
    color:white
}

a:active{
    color: white;
}

a:hover{
    text-shadow: 1px 1px 2px rgba(0,0,0, 0.8);
    transition-duration: 0.4s;
}

.userIcon{
    background-image: url(/static/img/user-icon_50x50.png);
    width: 50px;
    height: 50px;
    position: relative;
    top: 25%;
}

.prof-pic{
    width: 120px;
    height: 120px;
    right: 43px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    background-image: url(/static/img/user-icon_50x50.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
