.single-user{
    display: block;
    width: 100%;
}
.user-name{
    display: inline-block;
    margin-left: 10px;
    position: relative;
    bottom: 20px;
}
.user-icon{
    display: inline-block;
    background-image: url(/static/img/user-icon_50x50.png);
    width: 50px;
    height: 50px;
    position: relative;
}

body a{
    color: black;
    text-decoration: none;
}
