html, body {
    margin: 0px;
    padding: 0px;
}
header {
    background-color: #105fa9;
    height: 75px;
    margin: 0px;
    font-family: Verdana;
}

main {
    width: 80%;
    min-height: 600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vote {
    width: 60%;
    min-height: 500px;
    margin-top: 50px;
    border: 2px solid #d1cfcf;
}
.vote h1 {
    margin: 20px;
    display: inline-block;
}
.headVote p {
    display: inline-block;
    float: right;
    margin-right: 100px;
    margin-top: 30px;
}
.headVote a {
    margin-left: 20px;
    cursor: pointer;
    transition: .2s;
    color: black;
    text-decoration: none;
}
.headVote a:hover {
    color: #007b7b;
}
.textVote p {
    float: left;
    margin-left: 20px;
}
.startVote {
    min-width: 100px;
    max-width: 400px;
    height: auto;
    margin-top: 250px;
    margin-left: 10%;
}
.golos {
    border: 1px solid gray;
    min-width: 100px;
    max-width: 400px;
    height: 30px;
    font-size: 20px;
    border-radius: 5px;
    text-align: left;
    margin-bottom: 10px;
    cursor: pointer;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.font {
    height: 30px;
    border-radius: 5px;
    display: block;
}
.textGolos {
    max-width: 350px;
    height: 30px;
    margin-left: 10px;
    vertical-align: middle;
    font-size: 14px;
}
.percent {
    float: right;
    font-size: 14px;
    display: table-cell;
    margin-right: 5px;
    margin-top: 5px;
}
