<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="icon" href="/static/img/logo.ico">
	<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap" rel="stylesheet">
	<title>SimpleVotings | Error </title>
</head>
<body>
	
	<header style="width: 100%; border-bottom: 1px solid gray;">

		<p style="font-family: 'Merriweather', serif; text-align: center; margin-top: 5%; font-size: 64px;">ERROR</p>

		<p style="text-align: center; font-family: 'Cormorant Garamond', serif; font-size: 16px;">Что-то пошло не так!<br> Вернуться на <a href="/">главную страницу</a></p>

	</header>

</body>
</html>
