<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>SimpleVotings | Login</title>
        <link rel="stylesheet" href="/static/css/login.css">
        <link rel="icon" href="/static/img/logo.ico">
    </head>
    <body>
        <div id = "main">
            <h1>Добро пожаловать!</h1>
            <form method="POST" action="/login/">
              {% csrf_token %}
              {% for field in loginform.visible_fields %}
              {{field}}
              <br>
              {% endfor %}
              {% if messages %}
              {% for message in messages %}
              {{ message }}
              {% endfor %}
              {% endif %}
              <input value="ВОЙТИ В СИСТЕМУ" type="submit" id="end">
            </form>
            <div>
                <p> Нет аккаунта? <a href="/registration/"> Зарегиструйте </a> </p>
                <p> <a href="/"> Вернуться на главную </a> </p>
            </div>
        </div>
    </body>
</html>
