<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<link rel = "stylesheet" href = "/static/css/user_profile.css">
        <link rel="icon" href="/static/img/logo.ico">
    <link rel = "stylesheet" href = "/static/css/menu.css">
		<title>SimpleVotings | Profile</title>
	</head>
	<body>
		<header>
		    {% include 'menu.html' %}
		</header>
		<main>
            <h2>Профиль</h2>
            <div class = "user_edit">
                <div class="prof-pic"> </div>
                <form class = "form_edit">
                    <h2><b>Данные пользователя {{user_login}}</b><br> </h2>
                    <p>
                        <b>Имя: {{firstname}}</b>
                    </p>
                    <p>
                        <b>Фамилия: {{lastname}}</b>
                    </p>
                    <p>
                        <b>Email: {{email}}</b>
                    </p>
                    {% if can_edit %}
                      <a href="/user/edit_profile/"> <input type="button" value="Редактировать" style="margin-bottom: 15px"> </a>
                    {% endif %}
                </form>
            </div>
		</main>
		<footer>
            
		</footer>
	</body>
</html>
